workflows/dvs-v3-frontend (develop-master-staging ) workflow.json
{
  "active": false,
  "connections": {
    "Github Trigger": {
      "main": [
        [
          {
            "node": "If develop branch ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If develop branch ?": {
      "main": [
        [],
        [
          {
            "node": "If master branch ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If master branch ?": {
      "main": [
        [
          {
            "node": "Clone from repo1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If staging branch ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "export and load nvm": {
      "main": [
        [
          {
            "node": "Use nvm V19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "git stash & checkout to develop": {
      "main": [
        [
          {
            "node": "git pull develop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clone from repo": {
      "main": [
        [
          {
            "node": "git stash & checkout to develop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "copy .env": {
      "main": [
        [
          {
            "node": "export and load nvm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "git pull develop": {
      "main": [
        [
          {
            "node": "copy .env",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reload nginx": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create a nginx config file in sites-enabled directory": {
      "main": [
        [
          {
            "node": "Test-nginx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yarn install (install yarn packages)": {
      "main": [
        [
          {
            "node": "yarn build",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set max-heap Memory": {
      "main": [
        [
          {
            "node": "Yarn install (install yarn packages)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Install Yarn Package Manager": {
      "main": [
        [
          {
            "node": "Set max-heap Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If staging branch ?": {
      "main": [
        [
          {
            "node": "Clone repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clone from repo1": {
      "main": [
        [
          {
            "node": "git stash & checkout to master",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test nginx": {
      "main": [
        [
          {
            "node": "Reload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Clone from repo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "git stash & checkout to master": {
      "main": [
        [
          {
            "node": "pull master",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pull master": {
      "main": [
        [
          {
            "node": "copy .env file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "copy .env file": {
      "main": [
        [
          {
            "node": "export and load nvm3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "export and load nvm3": {
      "main": [
        [
          {
            "node": "Use nvm 19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Install Yarn": {
      "main": [
        [
          {
            "node": "Set max-heap memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set max-heap memory": {
      "main": [
        [
          {
            "node": "Yarn install - packages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yarn install - packages": {
      "main": [
        [
          {
            "node": "build project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build project": {
      "main": [
        [
          {
            "node": "setting up permission of dist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create a nginx config file": {
      "main": [
        [
          {
            "node": "Test nginx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reload": {
      "main": [
        [
          {
            "node": "Slack noti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clone repo": {
      "main": [
        [
          {
            "node": "git stash & checkout to staging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "git stash & checkout to staging": {
      "main": [
        [
          {
            "node": "git pull staging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "git pull staging": {
      "main": [
        [
          {
            "node": "copy environment file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "copy environment file": {
      "main": [
        [
          {
            "node": "export and load nvm 19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Install-Yarn": {
      "main": [
        [
          {
            "node": "Set max-heap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set max-heap": {
      "main": [
        [
          {
            "node": "yarn install",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "yarn install": {
      "main": [
        [
          {
            "node": "build yarn project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build yarn project": {
      "main": [
        [
          {
            "node": "setting up permission-index.html",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create nginx config": {
      "main": [
        [
          {
            "node": "test nginx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "test nginx": {
      "main": [
        [
          {
            "node": "reload nginx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reload nginx": {
      "main": [
        [
          {
            "node": "Send slack notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use nvm V19": {
      "main": [
        [
          {
            "node": "Install Yarn Package Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test-nginx": {
      "main": [
        [
          {
            "node": "Reload nginx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use nvm 19": {
      "main": [
        [
          {
            "node": "Install Yarn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "export and load nvm 19": {
      "main": [
        [
          {
            "node": "Use nvm-v19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use nvm-v19": {
      "main": [
        [
          {
            "node": "Install-Yarn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setting up permission of dist": {
      "main": [
        [
          {
            "node": "create a nginx config file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setting up permission-index.html": {
      "main": [
        [
          {
            "node": "Create nginx config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setting up permission of dist to dev": {
      "main": [
        [
          {
            "node": "create a nginx config file in sites-enabled directory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "yarn build": {
      "main": [
        [
          {
            "node": "setting up permission of dist to dev",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-16T01:15:13.389Z",
  "id": "ecgUTUfI569OQOTt",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "dvs-v3-frontend (develop-master-staging ) workflow",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "owner": {
          "__rl": true,
          "value": "naxa-developers",
          "mode": "list",
          "cachedResultName": "naxa-developers",
          "cachedResultUrl": "https://github.com/naxa-developers"
        },
        "repository": {
          "__rl": true,
          "value": "https://github.com/naxa-developers/dvs-v3-frontend",
          "mode": "url"
        },
        "events": [
          "push"
        ],
        "options": {}
      },
      "id": "a8700596-53d0-4926-ab38-bfefa4ae505a",
      "name": "Github Trigger",
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        1200,
        820
      ],
      "webhookId": "f9ea4388-e4fb-48e7-9ed2-d105cab7c0c2",
      "credentials": {
        "githubOAuth2Api": {
          "id": "wBMqs9Q3SKaMY9Xc",
          "name": "GitHub account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2ccc46c5-82f5-496b-9006-141c7e72e755",
              "leftValue": "={{ $json.body.ref }}",
              "rightValue": "=refs/heads/develop",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "08e25ffa-0ea2-4f01-a3b1-d05083edd4b7",
      "name": "If develop branch ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1500,
        720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "b11c7771-7569-4150-9d91-fe1b2acf2801",
              "leftValue": "={{ $json.body.ref }}",
              "rightValue": "refs/heads/master",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "88566d71-477b-430a-b8c4-87df64f6d0e4",
      "name": "If master branch ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1860,
        1760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "666d4fbd-796d-4745-b2cc-32cd50ae83d4",
              "leftValue": "{{ $json.body.ref }}",
              "rightValue": "refs/heads/staging",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a834a1ca-7f53-44c3-87c6-96859cb48088",
      "name": "If staging branch ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2220,
        2820
      ]
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "export NVM_DIR=\"$HOME/.nvm\"\n[ -s \"$NVM_DIR/nvm.sh\" ] && \\. \"$NVM_DIR/nvm.sh\"\n[ -s \"$NVM_DIR/bash_completion\" ] && \\. \"$NVM_DIR/bash_completion\"",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend-dev"
      },
      "id": "d7e915a3-7c57-46e5-a25e-1f23c8b5fa11",
      "name": "export and load nvm",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        3153.1565714285716,
        680
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "git clone git@github.com:naxa-developers/dvs-v3-frontend.git dvs-v3-frontend-dev",
        "cwd": "/home/ubuntu/Projects/"
      },
      "id": "8cce622c-d6a6-421c-aa22-b6c9a98021eb",
      "name": "Clone from repo",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2073.1565714285716,
        700
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "git pull origin develop",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend-dev"
      },
      "id": "b7936f47-be1c-4c69-9761-ca38701c9b00",
      "name": "git pull develop",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2533.1565714285716,
        680
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "git stash && git checkout develop",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend-dev"
      },
      "id": "768fca21-ab32-45a7-9254-5da99267007b",
      "name": "git stash & checkout to develop",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2313.1565714285716,
        580
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "cp .env.example .env",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend-dev"
      },
      "id": "a7810f43-d2fb-4649-aa29-b1219c361ef7",
      "name": "copy .env",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2893.1565714285716,
        580
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C073V4SMDJ5",
          "mode": "list",
          "cachedResultName": "dvs-frontend-v3"
        },
        "text": "Congratulations !!!\nYour site (develop) is live at : https://dvs-dev.anilrajrimal.com.np\nGo and Check it once !!",
        "otherOptions": {}
      },
      "id": "7b1cc148-957b-47e5-abb4-bcb77f96c093",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        5760,
        680
      ],
      "executeOnce": true,
      "credentials": {
        "slackOAuth2Api": {
          "id": "oytOvgZOMj4GVobW",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "sudo nginx -s reload",
        "cwd": "/etc/nginx/sites-enabled"
      },
      "id": "b4be8379-471d-4c99-9c96-867b91bcc7ef",
      "name": "Reload nginx",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        5320,
        680
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "sudo bash -c \"echo ' server {\n    listen 80;\n    server_name dvs-dev.anilrajrimal.com.np;    # domain name to respond to\n    access_log /var/log/nginx/dvs-dev.anilrajrimal.com.np.access;\n    error_log /var/log/nginx/dvs-dev.anilrajrimal.com.np.error;\n\n    client_max_body_size 500M;            # Allow uploads/transper to 100MB.\n    client_body_buffer_size 128k;\n\n    gzip on;            # Allows compression; can be CPU intensive\n    gzip_min_length 150;\n    gzip_types    text/plain text/css application/javascript application/x-javascript text/javascript image/x-icon image/svg+xml image/png application/json ;\n\n              root /home/ubuntu/Projects/dvs-v3-frontend-dev/dist;\n              index  index.html index.htm;\n     location / {\n              add_header Access-Control-Allow-Origin *;\n              try_files \\$uri /index.html;            # if no endpoint found try index.html\n             }\n\n}' > /etc/nginx/sites-enabled/dvs-dev.anilrajrimal.com.np.conf\"\n",
        "cwd": "/etc/nginx/sites-enabled"
      },
      "id": "bfc1457b-91c7-42af-a1a2-48ab8e839149",
      "name": "create a nginx config file in sites-enabled directory",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        4820,
        660
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "source ~/.nvm/nvm.sh && yarn build",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend-dev"
      },
      "id": "e28b2714-01ee-4ac7-b060-ce762343c7b6",
      "name": "yarn build",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        4260,
        940
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "notesInFlow": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "source ~/.nvm/nvm.sh && yarn cache clean && yarn install",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend-dev"
      },
      "id": "8c692bb5-4e9c-4b10-b1d0-14e4db851140",
      "name": "Yarn install (install yarn packages)",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        4020,
        760
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "export NODE_OPTIONS=\"--max-old-space-size=4096\"",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend-dev"
      },
      "id": "f273612e-92d7-4ab7-9d2d-e15cb2ce7623",
      "name": "Set max-heap Memory",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        3820,
        940
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "source ~/.nvm/nvm.sh && sudo npm install -g yarn",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend-dev"
      },
      "id": "dfc6366c-1753-41ad-8c47-3ccf42b358f3",
      "name": "Install Yarn Package Manager",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        3620,
        820
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Setting up Slack for providing notification of success with the various deployment details.",
        "height": 379.5965980525016,
        "width": 519.4161210084033,
        "color": 4
      },
      "id": "28725c06-0d59-4f35-9f8f-fddc6d2d8719",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5553.156571428572,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Setting up nginx config, testing and reloading\nThis portion contains the commands to setup the nginx config file in /etc/nginx/sites-enabled directory.\n\nThen test the nginx connection and then reload it.",
        "height": 433.629377884434,
        "width": 787,
        "color": 4
      },
      "id": "1657f301-899b-439e-bed5-1fa78268acaf",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4733.156571428572,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Installing and Setting up Yarn Package Manager ---> running build\nCommand to install and setup yarn package manager\nCommand to set the heap size\nCommand to install project packages using yarn\nCommand to build the yarn project",
        "height": 731.3844837667864,
        "width": 1321.693015126049,
        "color": 4
      },
      "id": "906efc7a-574a-408a-b5a2-2064365c2d84",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3373.1565714285716,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Setting up .env\nJust some of commands to copy .env.example to .env",
        "height": 435.92864511132495,
        "width": 475.4747428571427,
        "color": 4
      },
      "id": "c65fbd0d-e078-4614-8aa4-8f635068c7e7",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2833.1565714285716,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## SSH into VM and pull the develop branch\nUse respective credentials for SSH\nDoing git stash and checkout to develop branch\nthen pull from develop branch",
        "height": 505.2093700861147,
        "width": 744.758350015788,
        "color": 4
      },
      "id": "a99d4e72-8418-4eda-9468-09f0c712111f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1993.1565714285716,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "git clone git@github.com:naxa-developers/dvs-v3-frontend.git dvs-v3-frontend-master",
        "cwd": "/home/ubuntu/Projects/"
      },
      "id": "d133701d-0b0b-4386-b9be-14625b812493",
      "name": "Clone from repo1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2320,
        1720
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "sudo nginx -t",
        "cwd": "/etc/nginx/sites-enabled"
      },
      "id": "f2d126c9-3d1a-45a4-81c9-1e730df5730a",
      "name": "Test nginx",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        5340,
        1620
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Setting up Slack for providing notification of success with the various deployment details.",
        "height": 379.5965980525016,
        "width": 519.4161210084033,
        "color": 4
      },
      "id": "584ee607-deed-4168-a654-055421ec3640",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5800,
        1500
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Setting up nginx config, testing and reloading\nThis portion contains the commands to setup the nginx config file in /etc/nginx/sites-enabled directory.\n\nThen test the nginx connection and then reload it.",
        "height": 433.629377884434,
        "width": 787,
        "color": 4
      },
      "id": "9faec09e-b430-4b30-95e3-56f98d24852b",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4980,
        1480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Installing and Setting up Yarn Package Manager ---> running build\nCommand to install and setup yarn package manager\nCommand to set the heap size\nCommand to install project packages using yarn\nCommand to build the yarn project\nCommand to set up the permission to read by nginx config.",
        "height": 731.3844837667864,
        "width": 1321.693015126049,
        "color": 4
      },
      "id": "8e6709b6-f43f-4489-b8ff-e123cbd9a961",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3620,
        1480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Setting up .env\nJust some of commands to copy .env.example to .env",
        "height": 435.92864511132495,
        "width": 475.4747428571427,
        "color": 4
      },
      "id": "7c7ca172-4265-41df-833e-d909ccbc4e5c",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3080,
        1480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## SSH into VM and pull the master branch\nUse respective credentials for SSH\nDoing git stash and checkout to master branch\nthen pull from master branch",
        "height": 505.2093700861147,
        "width": 744.758350015788,
        "color": 4
      },
      "id": "94085511-cc52-4236-ac77-0a169254f251",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2240,
        1480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Setting up Slack for providing notification of success with the various deployment details.",
        "height": 379.5965980525016,
        "width": 519.4161210084033,
        "color": 5
      },
      "id": "b04601b0-15f7-4095-9cc9-e13c59011b1a",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6140,
        2560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Setting up nginx config, testing and reloading\nThis portion contains the commands to setup the nginx config file in /etc/nginx/sites-enabled directory.\n\nThen test the nginx connection and then reload it.",
        "height": 433.629377884434,
        "width": 787,
        "color": 5
      },
      "id": "ef9d89de-eef3-4ec7-b12c-01bdd16b6b30",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5320,
        2540
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Installing and Setting up Yarn Package Manager ---> running build\nCommand to install and setup yarn package manager\nCommand to set the heap size\nCommand to install project packages using yarn\nCommand to build the yarn project",
        "height": 731.3844837667864,
        "width": 1321.693015126049,
        "color": 5
      },
      "id": "6f9a9608-dfde-4a8a-9f5e-ef1c663b8724",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3960,
        2540
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Setting up .env\nJust some of commands to copy .env.example to .env",
        "height": 435.92864511132495,
        "width": 475.4747428571427,
        "color": 5
      },
      "id": "c235603f-6f43-4ed9-9508-5014c4d2e4fc",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3420,
        2540
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## SSH into VM and pull the develop branch\nUse respective credentials for SSH\nDoing git stash and checkout to develop branch\nthen pull from develop branch",
        "height": 505.2093700861147,
        "width": 744.758350015788,
        "color": 5
      },
      "id": "ea074cb3-14c5-43a9-bfc1-a61396f278f7",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2580,
        2540
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "f4ba0636-fe32-4fde-aee9-0468fb8c8732",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1820,
        1140
      ]
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "git stash && git checkout master",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend-master"
      },
      "id": "ec613421-f5c4-41d0-b2f1-74bdd4f11b1d",
      "name": "git stash & checkout to master",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2560,
        1600
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "git pull origin master",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend-master"
      },
      "id": "28ef7e94-3378-46ca-8b04-74cb357575c0",
      "name": "pull master",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2780,
        1700
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "cp .env.example .env",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend-master"
      },
      "id": "df49f6ec-2bff-4951-a293-5fe7afdf6eed",
      "name": "copy .env file",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        3140,
        1600
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "export NVM_DIR=\"$HOME/.nvm\"\n[ -s \"$NVM_DIR/nvm.sh\" ] && \\. \"$NVM_DIR/nvm.sh\"\n[ -s \"$NVM_DIR/bash_completion\" ] && \\. \"$NVM_DIR/bash_completion\"",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend-master"
      },
      "id": "beba39fc-89af-460e-a2b3-2f1de5f81359",
      "name": "export and load nvm3",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        3400,
        1700
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "source ~/.nvm/nvm.sh && sudo npm install -g yarn",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend-master"
      },
      "id": "5d299a4d-1493-4ee1-817b-8c056b8ac17f",
      "name": "Install Yarn",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        3920,
        1800
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "export NODE_OPTIONS=\"--max-old-space-size=4096\"",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend-master"
      },
      "id": "06a52132-2233-44fe-93eb-4743986634d2",
      "name": "Set max-heap memory",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        4120,
        1980
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "source ~/.nvm/nvm.sh && yarn cache clean && yarn install",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend-master"
      },
      "id": "61ea547d-d3dd-41b5-a3c3-3fc62ae5bd59",
      "name": "Yarn install - packages",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        4320,
        1800
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "source ~/.nvm/nvm.sh && yarn build",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend-master"
      },
      "id": "9cdc71b2-a985-4efc-ad76-b6ab4a2dc1fc",
      "name": "build project",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        4540,
        1980
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "notesInFlow": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "sudo bash -c \"echo ' server {\n    listen 80;\n    server_name dvs-master.anilrajrimal.com.np;    # domain name to respond to\n    access_log /var/log/nginx/dvs-master.anilrajrimal.com.np.access;\n    error_log /var/log/nginx/dvs-master.anilrajrimal.com.np.error;\n\n    client_max_body_size 500M;            # Allow uploads/transper to 100MB.\n    client_body_buffer_size 128k;\n\n    gzip on;            # Allows compression; can be CPU intensive\n    gzip_min_length 150;\n    gzip_types    text/plain text/css application/javascript application/x-javascript text/javascript image/x-icon image/svg+xml image/png application/json ;\n\n              root /home/ubuntu/Projects/dvs-v3-frontend-master/dist;\n              index  index.html index.htm;\n     location / {\n              add_header Access-Control-Allow-Origin *;\n              try_files \\$uri /index.html;            # if no endpoint found try index.html\n             }\n\n}' > /etc/nginx/sites-enabled/dvs-master.anilrajrimal.com.np.conf\"\n",
        "cwd": "/etc/nginx/sites-enabled"
      },
      "id": "20011a25-24cd-48b8-9a44-88777cbd9e45",
      "name": "create a nginx config file",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        5060,
        1720
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "sudo nginx -s reload",
        "cwd": "/etc/nginx/sites-enabled"
      },
      "id": "2bfe57b1-2258-4487-b210-c3ed7dcf5f9f",
      "name": "Reload",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        5600,
        1720
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C073V4SMDJ5",
          "mode": "list",
          "cachedResultName": "dvs-frontend-v3"
        },
        "text": "Congratulations !!!\nYour site (master) is live at : https://dvs-master.anilrajrimal.com.np\nGo and Check it once !!",
        "otherOptions": {}
      },
      "id": "7e6cf012-65ad-4ad1-bcd3-46c95c037a93",
      "name": "Slack noti",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        6007,
        1700
      ],
      "executeOnce": true,
      "credentials": {
        "slackOAuth2Api": {
          "id": "oytOvgZOMj4GVobW",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "git clone git@github.com:naxa-developers/dvs-v3-frontend.git dvs-v3-frontend-staging",
        "cwd": "/home/ubuntu/Projects/"
      },
      "id": "fba99e90-6c99-472e-ba7c-15901fb7fd4d",
      "name": "Clone repo",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2660,
        2780
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "git stash && git checkout staging",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend-staging"
      },
      "id": "43af7908-327d-41d8-b6b0-9c0b6686749f",
      "name": "git stash & checkout to staging",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2900,
        2660
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "git pull origin staging",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend-staging"
      },
      "id": "8a19c417-1bbf-422c-9346-5a2454fda88c",
      "name": "git pull staging",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        3120,
        2760
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "cp .env.example .env",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend-staging"
      },
      "id": "86810dc2-864a-4926-9ff8-4a15a57104f9",
      "name": "copy environment file",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        3480,
        2660
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "source ~/.nvm/nvm.sh && sudo npm install -g yarn",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend-staging"
      },
      "id": "9a1c32a9-0dd4-4d2d-801d-581b59c38bc3",
      "name": "Install-Yarn",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        4260,
        2840
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "export NODE_OPTIONS=\"--max-old-space-size=4096\"",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend-staging"
      },
      "id": "cc0cf543-7a5f-4690-8ced-be935abe68f9",
      "name": "Set max-heap",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        4480,
        3000
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "source ~/.nvm/nvm.sh && yarn cache clean && yarn install",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend-staging"
      },
      "id": "498d879c-5317-4282-973e-e6977e740db3",
      "name": "yarn install",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        4680,
        2820
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "source ~/.nvm/nvm.sh && yarn build",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend-staging"
      },
      "id": "a73afb83-50fa-40cc-a39b-6d026721d190",
      "name": "build yarn project",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        4860,
        3040
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "notesInFlow": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "sudo bash -c \"echo ' server {\n    listen 80;\n    server_name dvs-staging.anilrajrimal.com.np;    # domain name to respond to\n    access_log /var/log/nginx/dvs-staging.anilrajrimal.com.np.access;\n    error_log /var/log/nginx/dvs-staging.anilrajrimal.com.np.error;\n\n    client_max_body_size 500M;            # Allow uploads/transper to 100MB.\n    client_body_buffer_size 128k;\n\n    gzip on;            # Allows compression; can be CPU intensive\n    gzip_min_length 150;\n    gzip_types    text/plain text/css application/javascript application/x-javascript text/javascript image/x-icon image/svg+xml image/png application/json ;\n\n              root /home/ubuntu/Projects/dvs-v3-frontend-staging/dist;\n              index  index.html index.htm;\n     location / {\n              add_header Access-Control-Allow-Origin *;\n              try_files \\$uri /index.html;            # if no endpoint found try index.html\n             }\n\n}' > /etc/nginx/sites-enabled/dvs-staging.anilrajrimal.com.np.conf\"\n",
        "cwd": "/etc/nginx/sites-enabled"
      },
      "id": "edae4699-24fb-4dd7-b931-4d19d8eae295",
      "name": "Create nginx config",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        5407,
        2740
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "sudo nginx -t",
        "cwd": "/etc/nginx/sites-enabled"
      },
      "id": "87d1a846-39ea-40e8-a86f-52d06777686d",
      "name": "test nginx",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        5667,
        2680
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "sudo nginx -s reload",
        "cwd": "/etc/nginx/sites-enabled"
      },
      "id": "0498f56a-5aff-49fd-951e-3b8f27c72a5a",
      "name": "reload nginx",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        5907,
        2760
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C073V4SMDJ5",
          "mode": "list",
          "cachedResultName": "dvs-frontend-v3"
        },
        "text": "Congratulations !!!\nYour site (staging) is live at : https://dvs-staging.anilrajrimal.com.np\nGo and Check it once !!",
        "otherOptions": {}
      },
      "id": "aaf4c089-e86c-48eb-9bb2-7bfe0eafcff6",
      "name": "Send slack notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        6347,
        2760
      ],
      "executeOnce": true,
      "credentials": {
        "slackOAuth2Api": {
          "id": "oytOvgZOMj4GVobW",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "source ~/.nvm/nvm.sh && nvm use 19",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend-dev"
      },
      "id": "1b8f60de-a20c-4fa1-b8d1-5d2eb9c593eb",
      "name": "Use nvm V19",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        3440,
        980
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "sudo nginx -t",
        "cwd": "/etc/nginx/sites-enabled"
      },
      "id": "b73363b9-41fb-4de9-b7dd-8d6de874e066",
      "name": "Test-nginx",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        5080,
        600
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "source ~/.nvm/nvm.sh && nvm use 19",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend-master"
      },
      "id": "78dcb8d1-cd3e-4c67-aaa5-d0d4c4b8e8c1",
      "name": "Use nvm 19",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        3720,
        1980
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "export NVM_DIR=\"$HOME/.nvm\"\n[ -s \"$NVM_DIR/nvm.sh\" ] && \\. \"$NVM_DIR/nvm.sh\"\n[ -s \"$NVM_DIR/bash_completion\" ] && \\. \"$NVM_DIR/bash_completion\"",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend-staging"
      },
      "id": "9d0a6312-ba3b-4a21-8893-2532903c44dd",
      "name": "export and load nvm 19",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        3740,
        2760
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "source ~/.nvm/nvm.sh && nvm use 19",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend-staging"
      },
      "id": "f1f1e772-cf60-41ed-b554-63faee5926a5",
      "name": "Use nvm-v19",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        4060,
        3000
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "sudo chmod +r /home/ubuntu/Projects/dvs-v3-frontend-master/dist/index.html",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend-master"
      },
      "id": "e461eea4-29d8-4b16-b28f-50f3f81e54fb",
      "name": "setting up permission of dist",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        4740,
        1800
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "notesInFlow": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "sudo chmod +r /home/ubuntu/Projects/dvs-v3-frontend-staging/dist/index.html",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend-staging"
      },
      "id": "bfb6930b-9013-4798-9621-9bb489b3c65d",
      "name": "setting up permission-index.html",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        5060,
        2900
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "notesInFlow": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "sudo chmod +r /home/ubuntu/Projects/dvs-v3-frontend-dev/dist/index.html",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend-dev"
      },
      "id": "fd44d4e3-5d07-4fd6-8c57-8febff598699",
      "name": "setting up permission of dist to dev",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        4480,
        800
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "notesInFlow": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-05-16T05:43:16.000Z",
  "versionId": "cff60964-ffc5-42c1-b594-e32aac1a3a6d"
}