workflows/dvs-v3-frontend (develop-master-staging ) workflow.json
{
  "active": false,
  "connections": {
    "copy .env file": {
      "main": [
        [
          {
            "node": "Export and load nvm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yarn install - packages": {
      "main": [
        [
          {
            "node": "yarn build project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create a nginx config file": {
      "main": [
        [
          {
            "node": "Test & reload nginx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n Form Trigger": {
      "main": [
        [
          {
            "node": "get repo_name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use nvm 19 & Install yarn": {
      "main": [
        [
          {
            "node": "Yarn install - packages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export and load nvm": {
      "main": [
        [
          {
            "node": "Use nvm 19 & Install yarn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pull from branch": {
      "main": [
        [
          {
            "node": "copy .env file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clone from repository": {
      "main": [
        [
          {
            "node": "pull from branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "yarn build project": {
      "main": [
        [
          {
            "node": "create a nginx config file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test & reload nginx": {
      "main": [
        [
          {
            "node": "Send Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get repo_name": {
      "main": [
        [
          {
            "node": "Clone from repository",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-16T01:15:13.389Z",
  "id": "ecgUTUfI569OQOTt",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "dvs-v3-frontend (develop-master-staging ) workflow",
  "nodes": [
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=sed 's/admin.naxa.com.np/{{ $('n8n Form Trigger').item.json.domain_name }}/g' .env.exmaple > .env\n",
        "cwd": "=/home/ubuntu/Projects/{{ $('get repo_name').item.json[\"stdout\"] }}-{{ $('n8n Form Trigger').item.json.branch }}"
      },
      "id": "df49f6ec-2bff-4951-a293-5fe7afdf6eed",
      "name": "copy .env file",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2620,
        1700
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "source ~/.nvm/nvm.sh && yarn cache clean && yarn install",
        "cwd": "=/home/ubuntu/Projects/{{ $('get repo_name').item.json[\"stdout\"] }}-{{ $('n8n Form Trigger').item.json.branch }}"
      },
      "id": "61ea547d-d3dd-41b5-a3c3-3fc62ae5bd59",
      "name": "Yarn install - packages",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        3260,
        1700
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=sudo bash -c \"echo ' server {\n    listen 80;\n    server_name {{ $('n8n Form Trigger').item.json[\"domain_name\"] }};    # domain name to respond to\n    access_log /var/log/nginx/{{ $('n8n Form Trigger').item.json[\"domain_name\"] }}.access;\n    error_log /var/log/nginx/{{ $('n8n Form Trigger').item.json[\"domain_name\"] }}.error;\n\n    client_max_body_size 500M;            # Allow uploads/transper to 100MB.\n    client_body_buffer_size 128k;\n\n    gzip on;            # Allows compression; can be CPU intensive\n    gzip_min_length 150;\n    gzip_types    text/plain text/css application/javascript application/x-javascript text/javascript image/x-icon image/svg+xml image/png application/json ;\n\n              root /home/ubuntu/Projects/$('get repo_name').item.json[\"stdout\"]-{{ $('n8n Form Trigger').item.json[\"branch\"] }}/dist;\n              index  index.html index.htm;\n     location / {\n              add_header Access-Control-Allow-Origin *;\n              try_files \\$uri /index.html;            # if no endpoint found try index.html\n             }\n\n}' > /etc/nginx/sites-enabled/{{ $('n8n Form Trigger').item.json[\"domain_name\"] }}.conf\"\n",
        "cwd": "/etc/nginx/sites-enabled"
      },
      "id": "20011a25-24cd-48b8-9a44-88777cbd9e45",
      "name": "create a nginx config file",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        3760,
        1700
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "path": "f929d7b4-c0e5-4489-96ee-dbac03aa5383",
        "formTitle": "Workflow Form",
        "formDescription": "Fill this form with correct details.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "repo_url_ssh",
              "requiredField": true
            },
            {
              "fieldLabel": "domain_name",
              "requiredField": true
            },
            {
              "fieldLabel": "branch",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "master"
                  },
                  {
                    "option": "develop"
                  },
                  {
                    "option": "staging"
                  }
                ]
              }
            },
            {
              "fieldLabel": "node_version",
              "fieldType": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "e9af9e53-8e1a-48cb-b04e-4a6d55f1142a",
      "name": "n8n Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [
        1560,
        1700
      ],
      "webhookId": "f929d7b4-c0e5-4489-96ee-dbac03aa5383"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=source ~/.nvm/nvm.sh && nvm use {{ $('n8n Form Trigger').item.json.node_version }} && sudo npm install -g yarn",
        "cwd": "=/home/ubuntu/Projects/{{ $('get repo_name').item.json[\"stdout\"] }}-{{ $('n8n Form Trigger').item.json.branch }}"
      },
      "id": "78dcb8d1-cd3e-4c67-aaa5-d0d4c4b8e8c1",
      "name": "Use nvm 19 & Install yarn",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2960,
        1700
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "export NVM_DIR=\"$HOME/.nvm\"\n[ -s \"$NVM_DIR/nvm.sh\" ] && \\. \"$NVM_DIR/nvm.sh\"\n[ -s \"$NVM_DIR/bash_completion\" ] && \\. \"$NVM_DIR/bash_completion\"",
        "cwd": "=/home/ubuntu/Projects/{{ $('get repo_name').item.json[\"stdout\"] }}-{{ $('n8n Form Trigger').item.json.branch }}"
      },
      "id": "beba39fc-89af-460e-a2b3-2f1de5f81359",
      "name": "Export and load nvm",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2780,
        1700
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=git pull origin {{ $('n8n Form Trigger').item.json.branch }}",
        "cwd": "=/home/ubuntu/Projects/{{ $('get repo_name').item.json.stdout }}-{{ $('n8n Form Trigger').item.json.branch }}"
      },
      "id": "28ef7e94-3378-46ca-8b04-74cb357575c0",
      "name": "pull from branch",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2360,
        1780
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=git clone -b {{ $('n8n Form Trigger').item.json.branch }} {{ $('n8n Form Trigger').item.json.repo_url_ssh }} {{ $json.stdout }}-{{ $('n8n Form Trigger').item.json.branch }}",
        "cwd": "=/home/ubuntu/Projects/"
      },
      "id": "d133701d-0b0b-4386-b9be-14625b812493",
      "name": "Clone from repository",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2180,
        1640
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "source ~/.nvm/nvm.sh && yarn build",
        "cwd": "=/home/ubuntu/Projects/{{ $('get repo_name').item.json[\"stdout\"] }}-{{ $('n8n Form Trigger').item.json.branch }}"
      },
      "id": "9cdc71b2-a985-4efc-ad76-b6ab4a2dc1fc",
      "name": "yarn build project",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        3460,
        1700
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "notesInFlow": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "sudo nginx -t && sudo nginx -s reload",
        "cwd": "/etc/nginx/sites-enabled"
      },
      "id": "f2d126c9-3d1a-45a4-81c9-1e730df5730a",
      "name": "Test & reload nginx",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        3960,
        1700
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C073MQUR0G5",
          "mode": "list",
          "cachedResultName": "dvs-v3-frontend"
        },
        "text": "=Congratulations !!\n\nFinally your site is live now !\n===========================================================================================\nvisit https://{{ $('n8n Form Trigger').item.json[\"domain_name\"] }}\n===========================================================================================\n\nSome other details:\n\nGitHub Repository: {{ $('n8n Form Trigger').item.json[\"repo_url_ssh\"]}}\nGitHub Branch: {{ $('n8n Form Trigger').item.json[\"branch\"] }}\nProject Directory: /home/ubuntu/Projects/\nProject Name: {{ $('get repo_name').item.json[\"stdout\"] }}-{{ $('n8n Form Trigger').item.json.branch }}\nNode Version: {{ $('n8n Form Trigger').item.json[\"node_version\"] }}\n\nHope this information is useful for you !!",
        "otherOptions": {}
      },
      "id": "7e6cf012-65ad-4ad1-bcd3-46c95c037a93",
      "name": "Send Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        4220,
        1700
      ],
      "executeOnce": true,
      "credentials": {
        "slackOAuth2Api": {
          "id": "oytOvgZOMj4GVobW",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Step 1\n\nGet Project name from Repository url\n\nClone Project from GitHub Repository\n\nPull from branch",
        "height": 463.19854545454547,
        "width": 552.0640000000002,
        "color": 4
      },
      "id": "7a09e5d5-9d21-4ebb-a388-96e28d0164b6",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1940,
        1480
      ]
    },
    {
      "parameters": {
        "content": "# Step 2\n\nCopy the environment file\n\nExport and Load nvm\n\nUse node V19 and Install Yarn",
        "height": 463.19854545454547,
        "width": 552.0640000000002,
        "color": 4
      },
      "id": "63c3d385-d982-44a7-81e0-5534bb5f4d5b",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2560,
        1480
      ]
    },
    {
      "parameters": {
        "content": "# Step 3\n\nInstall Packages using yarn\n\nBuild Project using yarn",
        "height": 463.19854545454547,
        "width": 439.81963636363645,
        "color": 4
      },
      "id": "7e676e80-47b1-465a-90b1-6d4f529f9518",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3180,
        1480
      ]
    },
    {
      "parameters": {
        "content": "# Step 4\n\nCreate nginx config file\n\nTest and Reload nginx",
        "height": 463.19854545454547,
        "width": 439.81963636363645,
        "color": 4
      },
      "id": "0d958a00-d166-468b-a715-e40221483f80",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3680,
        1480
      ]
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=url={{ $('n8n Form Trigger').item.json.repo_url_ssh }}; \nrepo_name=$(basename \"${url%.git}\"); \necho \"$repo_name\"\n\n",
        "cwd": "=/home/ubuntu/Projects/"
      },
      "id": "001f0ce0-b5d0-4b26-a70c-4343ef31fa96",
      "name": "get repo_name",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1980,
        1760
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-05-16T12:07:36.000Z",
  "versionId": "87116a61-bc86-4e0f-a80c-5f70a605ebaa"
}