workflows/GitHub push >> Slack Notification.json
{
  "active": true,
  "connections": {
    "Github Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-14T09:02:59.430Z",
  "id": "s3ktSZdbqtj6Neuh",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "GitHub push >> Slack Notification",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "owner": {
          "__rl": true,
          "value": "anilrajrimal1",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "GuffGaff-Hub",
          "mode": "list",
          "cachedResultName": "GuffGaff-Hub",
          "cachedResultUrl": "https://github.com/anilrajrimal1/GuffGaff-Hub"
        },
        "events": [
          "push"
        ],
        "options": {}
      },
      "id": "ba13b5e1-ce59-4d67-95fe-e62bf770e90f",
      "name": "Github Trigger",
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        780,
        360
      ],
      "webhookId": "648120d0-a050-473c-b10d-88c85e4f3600",
      "credentials": {
        "githubOAuth2Api": {
          "id": "wBMqs9Q3SKaMY9Xc",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "201fe215-bd62-43c7-b6fd-4ff95a510a04",
              "name": "body.repository.id",
              "value": "={{ $json.body.repository.id }}",
              "type": "number"
            },
            {
              "id": "1167b1bf-9842-45bb-a1ae-099d42285524",
              "name": "body.repository.name",
              "value": "={{ $json.body.repository.name }}",
              "type": "string"
            },
            {
              "id": "fbd3ff2f-8ae6-47e9-9ed2-96a8a8ada684",
              "name": "body.commits[0].message",
              "value": "={{ $json.body.commits[0].message }}",
              "type": "string"
            },
            {
              "id": "34784f31-2c87-43a9-8b1c-08318c78d24f",
              "name": "body.commits[0].author.name",
              "value": "={{ $json.body.commits[0].author.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3fda5d6a-41b7-4009-924b-d30b226712ba",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1000,
        360
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C073NUN9QMP",
          "mode": "list",
          "cachedResultName": "github-alerts"
        },
        "text": "=We've got a new push by the way. Details are as follows\n------------------------------------------------------------------------------\nRepository id: {{ $json.body.repository.id }}\nRepository Name: {{ $json.body.repository.name }}\nCommit Message: {{ $json.body.commits[0].message }}.\n\nOh I forgot to mention the one and only {{ $json.body.commits[0].author.name }} as an Author.",
        "otherOptions": {}
      },
      "id": "5c843991-3bc6-467c-9e15-ac624fb671c2",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        1220,
        360
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "oytOvgZOMj4GVobW",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Github Trigger": {
      "webhookId": 478153309,
      "webhookEvents": [
        "push"
      ]
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-05-14T09:29:33.000Z",
  "versionId": "3269cae4-0024-481d-92f7-42b15c603bd1"
}