workflows/if no description >> notify on slack.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "no operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack": {
      "main": [
        [
          {
            "node": "no operation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-14T05:50:08.733Z",
  "id": "d799zuFqCcwndx0u",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "if no description >> notify on slack",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "7ce1a99c-299a-45fe-9522-8418dba290ef",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        800,
        360
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "user",
        "owner": {
          "__rl": true,
          "value": "anilrajrimal1",
          "mode": "list",
          "cachedResultName": "anilrajrimal1",
          "cachedResultUrl": "https://github.com/anilrajrimal1"
        },
        "returnAll": true
      },
      "id": "0bb43027-a133-4d62-8af5-bd45e58a1519",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1000,
        360
      ],
      "credentials": {
        "githubOAuth2Api": {
          "id": "wBMqs9Q3SKaMY9Xc",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "44206797-6da4-46c7-bf2c-5e3ae5f8ad90",
              "leftValue": "={{ $json.description = null}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "38d74a54-b308-4ada-ac6c-390525d9b161",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        360
      ]
    },
    {
      "parameters": {},
      "name": "no operation",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1460,
        480
      ],
      "typeVersion": 1,
      "id": "094f58b5-b8f5-4996-b0de-72d0c879c964"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C073NUN9QMP",
          "mode": "list",
          "cachedResultName": "github-alerts"
        },
        "text": "Add a description Bro....",
        "otherOptions": {}
      },
      "id": "3e6cb998-a990-468b-bc47-699013d9f366",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        1460,
        260
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "oytOvgZOMj4GVobW",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {},
      "name": "no operation1",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1640,
        260
      ],
      "typeVersion": 1,
      "id": "782e3297-11e9-4adc-93bb-61ebe735aa3a"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-05-14T07:39:49.000Z",
  "versionId": "951d923a-68f5-40cd-86b0-2305bfcfb911"
}