workflows/node-practice.json
{
  "active": false,
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "SSH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-16T07:33:39.382Z",
  "id": "jLVBMx8W8DRiFbjL",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "node-practice",
  "nodes": [
    {
      "parameters": {
        "language": "python",
        "pythonCode": "for data in _input.all():\n  data.json.github_repo_url_ssh = 'git@github.com:naxa-developers/dvs-v3-frontend.git';\n  data.json.project_name = 'dvs-v3-frontend'\n  data.json.branch_name = 'develop';\n  data.json.node_version = 18;\n  return _input.all()"
      },
      "id": "15cc6897-850b-46ab-b678-157b9ca34f93",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        400
      ]
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=git clone -b {{ $json.branch_name }} {{ $json.github_repo_url_ssh }} {{ $json.project_name }}-{{ $json.branch_name }}",
        "cwd": "/home/ubuntu/Projects"
      },
      "id": "1b88b460-4ac1-4bcd-99e0-dd1080a8fab4",
      "name": "SSH",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        880,
        400
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {},
      "id": "495ff7e5-3206-4645-983d-8891dd022ce7",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        340,
        400
      ],
      "disabled": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-05-16T09:44:19.000Z",
  "versionId": "1d81116d-527d-4cb6-a91d-bd148abdb856"
}