workflows/Sending Slack Alerts on every PR - GuffGaff Hub.json
{
  "active": true,
  "connections": {
    "Github Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "SSH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-14T05:41:12.152Z",
  "id": "slanQXQ5xpoMEkhW",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Sending Slack Alerts on every PR - GuffGaff Hub",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "owner": {
          "__rl": true,
          "value": "anilrajrimal1",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "GuffGaff-Hub",
          "mode": "list",
          "cachedResultName": "GuffGaff-Hub",
          "cachedResultUrl": "https://github.com/anilrajrimal1/GuffGaff-Hub"
        },
        "events": [
          "pull_request"
        ],
        "options": {}
      },
      "id": "0e0a5046-15c0-4235-a957-e99ac7e9123b",
      "name": "Github Trigger",
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        780,
        400
      ],
      "webhookId": "ecaa6592-3102-4a20-bb75-b30d49722ce1",
      "credentials": {
        "githubOAuth2Api": {
          "id": "wBMqs9Q3SKaMY9Xc",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C073NUN9QMP",
          "mode": "list",
          "cachedResultName": "github-alerts"
        },
        "text": "={{ $json.body.pull_request.head.user.login }} created a PR on  {{ $json.body.pull_request.created_at }}.\n\n--------------------------PR details:------------------------------\nPR id:  {{ $json.body.pull_request.id}}\nBody text:  {{ $json.body.pull_request.body }}\n\n-----------------------other details:-------------------------------\nRepository Name:  {{ $json.body.pull_request.head.repo.name }}\nBranch:  {{ $json.body.pull_request.head.ref }}\n",
        "otherOptions": {}
      },
      "id": "571cad4b-9d90-46a8-aa6f-3358f1ae9801",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        1180,
        400
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "oytOvgZOMj4GVobW",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a3f59cc-fa50-42b2-aa8d-94fdad33b46b",
              "name": "body.pull_request.id",
              "value": "={{ $json.body.pull_request.id }}",
              "type": "number"
            },
            {
              "id": "236c2079-6825-4a4d-b234-ce38cd01e396",
              "name": "body.pull_request.body",
              "value": "={{ $json.body.pull_request.body }}",
              "type": "string"
            },
            {
              "id": "2f079bac-a5d5-48a9-9f80-ba515fcbe4a1",
              "name": "body.pull_request.created_at",
              "value": "={{ $json.body.pull_request.created_at }}",
              "type": "string"
            },
            {
              "id": "136c9d37-8b86-414e-b383-64609e2faad2",
              "name": "body.pull_request.head.repo.name",
              "value": "={{ $json.body.pull_request.head.repo.name }}",
              "type": "string"
            },
            {
              "id": "0a2b2545-0f47-4cad-b2e3-e3fbd235f41c",
              "name": "body.pull_request.head.ref",
              "value": "={{ $json.body.pull_request.head.ref }}",
              "type": "string"
            },
            {
              "id": "83ad4f32-97af-40c9-bd03-47c03bcdd087",
              "name": "body.pull_request.head.user.id",
              "value": "={{ $json.body.pull_request.head.user.id }}",
              "type": "number"
            },
            {
              "id": "b0700803-313c-421d-9e83-a7ef85650b72",
              "name": "body.pull_request.head.user.login",
              "value": "={{ $json.body.pull_request.head.user.login }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "de5f7acb-4ef3-4f15-a32f-71e77a515d26",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        980,
        400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "python",
        "pythonCode": "# Add a new field called 'myNewField' to the JSON of the item\n_input.item.json.myNewField = 1\nreturn _input.item"
      },
      "id": "3901f161-d109-4f9b-a025-42c82c8c59c7",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        400
      ]
    },
    {
      "parameters": {},
      "id": "55097ff9-543f-4d47-b1d8-7a740352b7e2",
      "name": "SSH",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1620,
        400
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Github Trigger": {
      "webhookId": 478171892,
      "webhookEvents": [
        "pull_request"
      ]
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-05-14T11:38:45.000Z",
  "versionId": "f17d5e0c-ccba-41f8-a909-5c587d9974b4"
}