workflows/slack alerts on every push.json
{
  "active": false,
  "connections": {
    "Github Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-22T04:22:01.761Z",
  "id": "zmQQJNlmMewwxynC",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "slack alerts on every push",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "owner": {
          "__rl": true,
          "value": "anilrajrimal1",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "GuffGaff-Hub",
          "mode": "list",
          "cachedResultName": "GuffGaff-Hub",
          "cachedResultUrl": "https://github.com/anilrajrimal1/GuffGaff-Hub"
        },
        "events": [
          "push"
        ],
        "options": {}
      },
      "id": "1991a1d4-f072-4a40-85dc-9dea6e60a5c1",
      "name": "Github Trigger",
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        460,
        460
      ],
      "webhookId": "648120d0-a050-473c-b10d-88c85e4f3600",
      "credentials": {
        "githubOAuth2Api": {
          "id": "m8ljhyxl9virxXtx",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "201fe215-bd62-43c7-b6fd-4ff95a510a04",
              "name": "body.repository.id",
              "value": "={{ $json.body.repository.id }}",
              "type": "number"
            },
            {
              "id": "1167b1bf-9842-45bb-a1ae-099d42285524",
              "name": "body.repository.name",
              "value": "={{ $json.body.repository.name }}",
              "type": "string"
            },
            {
              "id": "fbd3ff2f-8ae6-47e9-9ed2-96a8a8ada684",
              "name": "body.commits[0].message",
              "value": "={{ $json.body.commits[0].message }}",
              "type": "string"
            },
            {
              "id": "34784f31-2c87-43a9-8b1c-08318c78d24f",
              "name": "body.commits[0].author.name",
              "value": "={{ $json.body.commits[0].author.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6a03fdf9-44bd-48a1-93b7-09aa54b89b5a",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        680,
        460
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C073NUN9QMP",
          "mode": "list",
          "cachedResultName": "github-alerts"
        },
        "text": "=We've got a new push by the way. Details are as follows\n------------------------------------------------------------------------------\nRepository id: {{ $json.body.repository.id }}\nRepository Name: {{ $json.body.repository.name }}\nCommit Message: {{ $json.body.commits[0].message }}.\n\nOh I forgot to mention the one and only {{ $json.body.commits[0].author.name }} as an Author.",
        "otherOptions": {}
      },
      "id": "488d4416-44e2-4194-b633-632b7dd8dc4d",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        900,
        460
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "4ODDVC4CzvbIn7Fk",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-05-22T04:34:18.000Z",
  "versionId": "5feeef29-8f84-4250-9265-e09b41e12f2c"
}