workflows/testing multiple triggers.json
{
  "active": false,
  "connections": {
    "Github Trigger": {
      "main": [
        [
          {
            "node": "If develop branch ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If develop branch ?": {
      "main": [
        [
          {
            "node": "Clone from repo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If master branch ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If master branch ?": {
      "main": [
        [
          {
            "node": "Clone from repo1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If staging branch ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "export and load nvm": {
      "main": [
        [
          {
            "node": "Use nvm V18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "git stash & checkout to develop": {
      "main": [
        [
          {
            "node": "git pull develop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clone from repo": {
      "main": [
        [
          {
            "node": "git stash & checkout to develop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "copy .env": {
      "main": [
        [
          {
            "node": "export and load nvm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "git pull develop": {
      "main": [
        [
          {
            "node": "copy .env",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reload nginx": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test nginx1": {
      "main": [
        [
          {
            "node": "Reload nginx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create a nginx config file in sites-enabled directory": {
      "main": [
        [
          {
            "node": "Test nginx1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "yarn build": {
      "main": [
        [
          {
            "node": "create a nginx config file in sites-enabled directory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yarn install (install yarn packages)": {
      "main": [
        [
          {
            "node": "yarn build",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set max-heap Memory": {
      "main": [
        [
          {
            "node": "Yarn install (install yarn packages)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Install Yarn Package Manager": {
      "main": [
        [
          {
            "node": "Set max-heap Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use nvm V18": {
      "main": [
        [
          {
            "node": "Install Yarn Package Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Install Yarn Package Manager1": {
      "main": [
        [
          {
            "node": "Set max-heap Memory1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set max-heap Memory1": {
      "main": [
        [
          {
            "node": "Yarn install (install yarn packages)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yarn install (install yarn packages)1": {
      "main": [
        [
          {
            "node": "yarn build1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "yarn build1": {
      "main": [
        [
          {
            "node": "create a nginx config file in sites-enabled directory1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create a nginx config file in sites-enabled directory1": {
      "main": [
        [
          {
            "node": "Test nginx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test nginx": {
      "main": [
        [
          {
            "node": "Reload nginx1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reload nginx1": {
      "main": [
        [
          {
            "node": "Slack1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "copy .env1": {
      "main": [
        [
          {
            "node": "export and load nvm1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "git stash & checkout to develop1": {
      "main": [
        [
          {
            "node": "git pull develop1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "git pull develop1": {
      "main": [
        [
          {
            "node": "copy .env1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clone from repo1": {
      "main": [
        [
          {
            "node": "git stash & checkout to develop1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use nvm V": {
      "main": [
        [
          {
            "node": "Install Yarn Package Manager1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "export and load nvm1": {
      "main": [
        [
          {
            "node": "Use nvm V",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Install Yarn Package Manager2": {
      "main": [
        [
          {
            "node": "Set max-heap Memory2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set max-heap Memory2": {
      "main": [
        [
          {
            "node": "Yarn install (install yarn packages)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yarn install (install yarn packages)2": {
      "main": [
        [
          {
            "node": "yarn build2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "yarn build2": {
      "main": [
        [
          {
            "node": "create a nginx config file in sites-enabled directory2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create a nginx config file in sites-enabled directory2": {
      "main": [
        [
          {
            "node": "Test nginx2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test nginx2": {
      "main": [
        [
          {
            "node": "Reload nginx2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reload nginx2": {
      "main": [
        [
          {
            "node": "Slack2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "copy .env2": {
      "main": [
        [
          {
            "node": "export and load nvm2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "git stash & checkout to develop2": {
      "main": [
        [
          {
            "node": "git pull develop2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "git pull develop2": {
      "main": [
        [
          {
            "node": "copy .env2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clone from repo2": {
      "main": [
        [
          {
            "node": "git stash & checkout to develop2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use nvm V19": {
      "main": [
        [
          {
            "node": "Install Yarn Package Manager2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "export and load nvm2": {
      "main": [
        [
          {
            "node": "Use nvm V19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If staging branch ?": {
      "main": [
        [
          {
            "node": "Clone from repo2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-16T01:15:13.389Z",
  "id": "ecgUTUfI569OQOTt",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "testing multiple triggers",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "owner": {
          "__rl": true,
          "value": "anilrajrimal1",
          "mode": "list",
          "cachedResultName": "anilrajrimal1",
          "cachedResultUrl": "https://github.com/anilrajrimal1"
        },
        "repository": {
          "__rl": true,
          "value": "GuffGaff-Hub",
          "mode": "list",
          "cachedResultName": "GuffGaff-Hub",
          "cachedResultUrl": "https://github.com/anilrajrimal1/GuffGaff-Hub"
        },
        "events": [
          "push"
        ],
        "options": {}
      },
      "id": "a8700596-53d0-4926-ab38-bfefa4ae505a",
      "name": "Github Trigger",
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        640,
        720
      ],
      "webhookId": "f9ea4388-e4fb-48e7-9ed2-d105cab7c0c2",
      "credentials": {
        "githubOAuth2Api": {
          "id": "wBMqs9Q3SKaMY9Xc",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2ccc46c5-82f5-496b-9006-141c7e72e755",
              "leftValue": "={{ $json.body.ref }}",
              "rightValue": "=refs/heads/develop",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "08e25ffa-0ea2-4f01-a3b1-d05083edd4b7",
      "name": "If develop branch ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1220,
        740
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "b11c7771-7569-4150-9d91-fe1b2acf2801",
              "leftValue": "={{ $json.body.ref }}",
              "rightValue": "refs/heads/master",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "88566d71-477b-430a-b8c4-87df64f6d0e4",
      "name": "If master branch ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1900,
        1860
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "666d4fbd-796d-4745-b2cc-32cd50ae83d4",
              "leftValue": "{{ $json.body.ref }}",
              "rightValue": "refs/heads/staging",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a834a1ca-7f53-44c3-87c6-96859cb48088",
      "name": "If staging branch ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2980,
        3140
      ]
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "export NVM_DIR=\"$HOME/.nvm\"\n[ -s \"$NVM_DIR/nvm.sh\" ] && \\. \"$NVM_DIR/nvm.sh\"\n[ -s \"$NVM_DIR/bash_completion\" ] && \\. \"$NVM_DIR/bash_completion\"",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend"
      },
      "id": "d7e915a3-7c57-46e5-a25e-1f23c8b5fa11",
      "name": "export and load nvm",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        3153.1565714285716,
        680
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "source ~/.nvm/nvm.sh && nvm use 18",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend"
      },
      "id": "1b8f60de-a20c-4fa1-b8d1-5d2eb9c593eb",
      "name": "Use nvm V18",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        3533.1565714285716,
        860
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "git clone git@github.com:naxa-developers/dvs-v3-frontend.git",
        "cwd": "/home/ubuntu/Projects/"
      },
      "id": "8cce622c-d6a6-421c-aa22-b6c9a98021eb",
      "name": "Clone from repo",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2073.1565714285716,
        700
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "git pull origin develop",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend"
      },
      "id": "b7936f47-be1c-4c69-9761-ca38701c9b00",
      "name": "git pull develop",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2533.1565714285716,
        680
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "git stash && git checkout develop",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend"
      },
      "id": "768fca21-ab32-45a7-9254-5da99267007b",
      "name": "git stash & checkout to develop",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2313.1565714285716,
        580
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "cp .env.example .env",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend"
      },
      "id": "a7810f43-d2fb-4649-aa29-b1219c361ef7",
      "name": "copy .env",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2893.1565714285716,
        580
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C073V4SMDJ5",
          "mode": "list",
          "cachedResultName": "dvs-frontend-v3"
        },
        "text": "Congratulations !!!\nYour site is live at ::: https://dvs-dev.anilrajrimal.com.np\nGo and Check it once !!",
        "otherOptions": {}
      },
      "id": "7b1cc148-957b-47e5-abb4-bcb77f96c093",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        5773.156571428572,
        640
      ],
      "executeOnce": true,
      "credentials": {
        "slackOAuth2Api": {
          "id": "oytOvgZOMj4GVobW",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "sudo nginx -s reload",
        "cwd": "/etc/nginx/sites-enabled"
      },
      "id": "b4be8379-471d-4c99-9c96-867b91bcc7ef",
      "name": "Reload nginx",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        5313.156571428572,
        700
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "sudo nginx -t",
        "cwd": "/etc/nginx/sites-enabled"
      },
      "id": "b73363b9-41fb-4de9-b7dd-8d6de874e066",
      "name": "Test nginx1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        5093.156571428572,
        600
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "sudo bash -c \"echo ' server {\n    listen 80;\n    server_name dvs-dev.anilrajrimal.com.np;    # domain name to respond to\n    access_log /var/log/nginx/dvs-dev.anilrajrimal.com.np.access;\n    error_log /var/log/nginx/dvs-dev.anilrajrimal.com.np.error;\n\n    client_max_body_size 500M;            # Allow uploads/transper to 100MB.\n    client_body_buffer_size 128k;\n\n    gzip on;            # Allows compression; can be CPU intensive\n    gzip_min_length 150;\n    gzip_types    text/plain text/css application/javascript application/x-javascript text/javascript image/x-icon image/svg+xml image/png application/json ;\n\n              root /home/ubuntu/Projects/dvs-v3-frontend/dist;\n              index  index.html index.htm;\n     location / {\n              add_header Access-Control-Allow-Origin *;\n              try_files \\$uri /index.html;            # if no endpoint found try index.html\n             }\n\n}' > /etc/nginx/sites-enabled/dvs-dev.anilrajrimal.com.np.conf\"\n",
        "cwd": "/etc/nginx/sites-enabled"
      },
      "id": "bfc1457b-91c7-42af-a1a2-48ab8e839149",
      "name": "create a nginx config file in sites-enabled directory",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        4853.156571428572,
        700
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "source ~/.nvm/nvm.sh && yarn build",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend"
      },
      "id": "e28b2714-01ee-4ac7-b060-ce762343c7b6",
      "name": "yarn build",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        4513.156571428572,
        860
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "notesInFlow": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "source ~/.nvm/nvm.sh && yarn cache clean && yarn install",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend"
      },
      "id": "8c692bb5-4e9c-4b10-b1d0-14e4db851140",
      "name": "Yarn install (install yarn packages)",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        4253.156571428572,
        720
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "export NODE_OPTIONS=\"--max-old-space-size=4096\"",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend"
      },
      "id": "f273612e-92d7-4ab7-9d2d-e15cb2ce7623",
      "name": "Set max-heap Memory",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        3993.1565714285716,
        840
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "source ~/.nvm/nvm.sh && sudo npm install -g yarn",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend"
      },
      "id": "dfc6366c-1753-41ad-8c47-3ccf42b358f3",
      "name": "Install Yarn Package Manager",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        3773.1565714285716,
        680
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Setting up Slack for providing notification of success with the various deployment details.",
        "height": 379.5965980525016,
        "width": 519.4161210084033,
        "color": 6
      },
      "id": "28725c06-0d59-4f35-9f8f-fddc6d2d8719",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5553.156571428572,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Setting up nginx config, testing and reloading\nThis portion contains the commands to setup the nginx config file in /etc/nginx/sites-enabled directory.\n\nThen test the nginx connection and then reload it.",
        "height": 433.629377884434,
        "width": 787,
        "color": 6
      },
      "id": "1657f301-899b-439e-bed5-1fa78268acaf",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4733.156571428572,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Installing and Setting up Yarn Package Manager ---> running build\nCommand to install and setup yarn package manager\nCommand to set the heap size\nCommand to install project packages using yarn\nCommand to build the yarn project",
        "height": 731.3844837667864,
        "width": 1321.693015126049,
        "color": 6
      },
      "id": "906efc7a-574a-408a-b5a2-2064365c2d84",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3373.1565714285716,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Setting up .env\nJust some of commands to copy .env.example to .env",
        "height": 435.92864511132495,
        "width": 475.4747428571427,
        "color": 6
      },
      "id": "c65fbd0d-e078-4614-8aa4-8f635068c7e7",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2833.1565714285716,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## SSH into VM and pull the develop branch\nUse respective credentials for SSH\nDoing git stash and checkout to develop branch\nthen pull from develop branch",
        "height": 505.2093700861147,
        "width": 744.758350015788,
        "color": 6
      },
      "id": "a99d4e72-8418-4eda-9468-09f0c712111f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1993.1565714285716,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## SSH into VM and pull the develop branch\nUse respective credentials for SSH\nDoing git stash and checkout to develop branch\nthen pull from develop branch",
        "height": 505.2093700861147,
        "width": 744.758350015788,
        "color": 6
      },
      "id": "583dcc64-0066-4434-922f-60a547acc05e",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2480,
        1580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Setting up .env\nJust some of commands to copy .env.example to .env",
        "height": 435.92864511132495,
        "width": 475.4747428571427,
        "color": 6
      },
      "id": "2eee9983-a178-4a0a-aa5d-0ab9315a7eed",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3320,
        1580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Installing and Setting up Yarn Package Manager ---> running build\nCommand to install and setup yarn package manager\nCommand to set the heap size\nCommand to install project packages using yarn\nCommand to build the yarn project",
        "height": 731.3844837667864,
        "width": 1321.693015126049,
        "color": 6
      },
      "id": "ca25a0ef-e23c-4850-9e1d-304ca7edc398",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3860,
        1580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Setting up nginx config, testing and reloading\nThis portion contains the commands to setup the nginx config file in /etc/nginx/sites-enabled directory.\n\nThen test the nginx connection and then reload it.",
        "height": 433.629377884434,
        "width": 787,
        "color": 6
      },
      "id": "30221f31-cc92-4653-833e-b1e956cd9f0c",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5220,
        1580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Setting up Slack for providing notification of success with the various deployment details.",
        "height": 379.5965980525016,
        "width": 519.4161210084033,
        "color": 6
      },
      "id": "8b143f2e-29c1-47c3-8a6a-f15b69b1d903",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6040,
        1600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "source ~/.nvm/nvm.sh && sudo npm install -g yarn",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend"
      },
      "id": "78b1ceeb-d1a0-44b8-a672-9379185a6d43",
      "name": "Install Yarn Package Manager1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        4260,
        1800
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "export NODE_OPTIONS=\"--max-old-space-size=4096\"",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend"
      },
      "id": "79106f5f-da9d-4277-b6d3-f9bbd43f4317",
      "name": "Set max-heap Memory1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        4480,
        1960
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "source ~/.nvm/nvm.sh && yarn cache clean && yarn install",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend"
      },
      "id": "42c15538-9b2f-44f2-a27d-a28fbe10631c",
      "name": "Yarn install (install yarn packages)1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        4740,
        1840
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "source ~/.nvm/nvm.sh && yarn build",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend"
      },
      "id": "3385e020-8a70-4793-9517-486b02905a6c",
      "name": "yarn build1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        5000,
        1980
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "notesInFlow": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "sudo bash -c \"echo ' server {\n    listen 80;\n    server_name dvs-dev.anilrajrimal.com.np;    # domain name to respond to\n    access_log /var/log/nginx/dvs-dev.anilrajrimal.com.np.access;\n    error_log /var/log/nginx/dvs-dev.anilrajrimal.com.np.error;\n\n    client_max_body_size 500M;            # Allow uploads/transper to 100MB.\n    client_body_buffer_size 128k;\n\n    gzip on;            # Allows compression; can be CPU intensive\n    gzip_min_length 150;\n    gzip_types    text/plain text/css application/javascript application/x-javascript text/javascript image/x-icon image/svg+xml image/png application/json ;\n\n              root /home/ubuntu/Projects/dvs-v3-frontend/dist;\n              index  index.html index.htm;\n     location / {\n              add_header Access-Control-Allow-Origin *;\n              try_files \\$uri /index.html;            # if no endpoint found try index.html\n             }\n\n}' > /etc/nginx/sites-enabled/dvs-dev.anilrajrimal.com.np.conf\"\n",
        "cwd": "/etc/nginx/sites-enabled"
      },
      "id": "c215ddb8-0917-4a59-a546-5c87c2cf701f",
      "name": "create a nginx config file in sites-enabled directory1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        5340,
        1820
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "sudo nginx -t",
        "cwd": "/etc/nginx/sites-enabled"
      },
      "id": "5785ae01-70c5-4a3b-b4ec-567234992fbe",
      "name": "Test nginx",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        5580,
        1720
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "sudo nginx -s reload",
        "cwd": "/etc/nginx/sites-enabled"
      },
      "id": "2efee55c-a31e-420e-b1fb-8e796ab6f23b",
      "name": "Reload nginx1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        5800,
        1820
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C073V4SMDJ5",
          "mode": "list",
          "cachedResultName": "dvs-frontend-v3"
        },
        "text": "Congratulations !!!\nYour site is live at ::: https://dvs-dev.anilrajrimal.com.np\nGo and Check it once !!",
        "otherOptions": {}
      },
      "id": "050584c2-0d51-4bd4-a487-7499c87febfd",
      "name": "Slack1",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        6260,
        1760
      ],
      "executeOnce": true,
      "credentials": {
        "slackOAuth2Api": {
          "id": "oytOvgZOMj4GVobW",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "cp .env.example .env",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend"
      },
      "id": "df1b97f5-0e07-44e6-9864-bf18bd7f4072",
      "name": "copy .env1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        3380,
        1700
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "git stash && git checkout develop",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend"
      },
      "id": "beae2718-ad57-4698-b87b-983c5bdeeb48",
      "name": "git stash & checkout to develop1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2800,
        1700
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "git pull origin develop",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend"
      },
      "id": "1e9c94e2-6b6a-4fa4-8c9a-cac69b77de4d",
      "name": "git pull develop1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        3020,
        1800
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "git clone git@github.com:naxa-developers/dvs-v3-frontend.git",
        "cwd": "/home/ubuntu/Projects/"
      },
      "id": "9d4adc59-6509-4127-b226-dc1ee2afb573",
      "name": "Clone from repo1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2560,
        1820
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "source ~/.nvm/nvm.sh && nvm use 18",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend"
      },
      "id": "6b3b1875-b1dd-4cfa-8c01-030626a5af28",
      "name": "Use nvm V",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        4020,
        1980
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "export NVM_DIR=\"$HOME/.nvm\"\n[ -s \"$NVM_DIR/nvm.sh\" ] && \\. \"$NVM_DIR/nvm.sh\"\n[ -s \"$NVM_DIR/bash_completion\" ] && \\. \"$NVM_DIR/bash_completion\"",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend"
      },
      "id": "7d311c04-0edf-42bf-a39d-ea2d2b3eb096",
      "name": "export and load nvm1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        3640,
        1800
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "content": "## SSH into VM and pull the develop branch\nUse respective credentials for SSH\nDoing git stash and checkout to develop branch\nthen pull from develop branch",
        "height": 505.2093700861147,
        "width": 744.758350015788,
        "color": 6
      },
      "id": "a222d5e8-f75f-46d2-b5cb-1c2f47ca0be5",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3380,
        2800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Setting up .env\nJust some of commands to copy .env.example to .env",
        "height": 435.92864511132495,
        "width": 475.4747428571427,
        "color": 6
      },
      "id": "078c5699-6ae5-4ac6-94f2-c1d02de2cd4d",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4220,
        2800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Installing and Setting up Yarn Package Manager ---> running build\nCommand to install and setup yarn package manager\nCommand to set the heap size\nCommand to install project packages using yarn\nCommand to build the yarn project",
        "height": 731.3844837667864,
        "width": 1321.693015126049,
        "color": 6
      },
      "id": "05e6c9a8-ee4f-44a4-b27d-29e8feebf6c4",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4760,
        2800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Setting up nginx config, testing and reloading\nThis portion contains the commands to setup the nginx config file in /etc/nginx/sites-enabled directory.\n\nThen test the nginx connection and then reload it.",
        "height": 433.629377884434,
        "width": 787,
        "color": 6
      },
      "id": "2e8b16b2-d7c8-411c-990c-b2efea6c27d4",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6120,
        2800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Setting up Slack for providing notification of success with the various deployment details.",
        "height": 379.5965980525016,
        "width": 519.4161210084033,
        "color": 6
      },
      "id": "7d7f8d9a-77c4-4e23-a727-a7dba6820686",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6940,
        2820
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "source ~/.nvm/nvm.sh && sudo npm install -g yarn",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend"
      },
      "id": "c23cbdb3-7182-4de1-b011-725561d0dc7c",
      "name": "Install Yarn Package Manager2",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        5160,
        3020
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "export NODE_OPTIONS=\"--max-old-space-size=4096\"",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend"
      },
      "id": "105d1484-973a-4915-b04b-5e22d96db9a1",
      "name": "Set max-heap Memory2",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        5380,
        3180
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "source ~/.nvm/nvm.sh && yarn cache clean && yarn install",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend"
      },
      "id": "e31d528e-6f8b-45c7-88bc-40dcd9acc6a1",
      "name": "Yarn install (install yarn packages)2",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        5640,
        3060
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "source ~/.nvm/nvm.sh && yarn build",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend"
      },
      "id": "2244ead2-7e42-402c-b972-9865ba184051",
      "name": "yarn build2",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        5900,
        3200
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "notesInFlow": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "sudo bash -c \"echo ' server {\n    listen 80;\n    server_name dvs-dev.anilrajrimal.com.np;    # domain name to respond to\n    access_log /var/log/nginx/dvs-dev.anilrajrimal.com.np.access;\n    error_log /var/log/nginx/dvs-dev.anilrajrimal.com.np.error;\n\n    client_max_body_size 500M;            # Allow uploads/transper to 100MB.\n    client_body_buffer_size 128k;\n\n    gzip on;            # Allows compression; can be CPU intensive\n    gzip_min_length 150;\n    gzip_types    text/plain text/css application/javascript application/x-javascript text/javascript image/x-icon image/svg+xml image/png application/json ;\n\n              root /home/ubuntu/Projects/dvs-v3-frontend/dist;\n              index  index.html index.htm;\n     location / {\n              add_header Access-Control-Allow-Origin *;\n              try_files \\$uri /index.html;            # if no endpoint found try index.html\n             }\n\n}' > /etc/nginx/sites-enabled/dvs-dev.anilrajrimal.com.np.conf\"\n",
        "cwd": "/etc/nginx/sites-enabled"
      },
      "id": "a697323b-94a3-4074-8bb8-10c7a03d3acc",
      "name": "create a nginx config file in sites-enabled directory2",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        6240,
        3040
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "sudo nginx -t",
        "cwd": "/etc/nginx/sites-enabled"
      },
      "id": "c0250e99-1ae7-4893-9e13-3e7ec8b9a6c9",
      "name": "Test nginx2",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        6480,
        2940
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "sudo nginx -s reload",
        "cwd": "/etc/nginx/sites-enabled"
      },
      "id": "eed3a64b-5098-447d-b3b4-63b6aeab45d1",
      "name": "Reload nginx2",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        6700,
        3040
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C073V4SMDJ5",
          "mode": "list",
          "cachedResultName": "dvs-frontend-v3"
        },
        "text": "Congratulations !!!\nYour site is live at ::: https://dvs-dev.anilrajrimal.com.np\nGo and Check it once !!",
        "otherOptions": {}
      },
      "id": "bfcaee24-e2b4-4c63-8294-6360c749c719",
      "name": "Slack2",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        7160,
        2980
      ],
      "executeOnce": true,
      "credentials": {
        "slackOAuth2Api": {
          "id": "oytOvgZOMj4GVobW",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "cp .env.example .env",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend"
      },
      "id": "10c77d52-100f-4581-b433-65288100c1d7",
      "name": "copy .env2",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        4280,
        2920
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "git stash && git checkout develop",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend"
      },
      "id": "3adf0064-3cfe-4370-b37a-6053b5e027f0",
      "name": "git stash & checkout to develop2",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        3700,
        2920
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "git pull origin develop",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend"
      },
      "id": "3693cbf9-084e-402d-aeac-cdfaac3249c0",
      "name": "git pull develop2",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        3920,
        3020
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "git clone git@github.com:naxa-developers/dvs-v3-frontend.git",
        "cwd": "/home/ubuntu/Projects/"
      },
      "id": "44d8694b-3b06-4af0-9d08-1467375c7304",
      "name": "Clone from repo2",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        3460,
        3040
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "source ~/.nvm/nvm.sh && nvm use 18",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend"
      },
      "id": "f7ec1303-6035-4e10-b9f0-d6bdd1c0ad7b",
      "name": "Use nvm V19",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        4920,
        3200
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "export NVM_DIR=\"$HOME/.nvm\"\n[ -s \"$NVM_DIR/nvm.sh\" ] && \\. \"$NVM_DIR/nvm.sh\"\n[ -s \"$NVM_DIR/bash_completion\" ] && \\. \"$NVM_DIR/bash_completion\"",
        "cwd": "/home/ubuntu/Projects/dvs-v3-frontend"
      },
      "id": "60f39f25-89cf-4e23-941b-57fcc9db28a5",
      "name": "export and load nvm2",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        4540,
        3020
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "sshPrivateKey": {
          "id": "aDoEMAgfjOxUDXWv",
          "name": "SSH Password account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-05-16T04:10:52.000Z",
  "versionId": "80ae8637-2b1b-4f54-8d53-c323f2b478a6"
}